/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #E2D1C3;
    overflow-x: hidden;
    color: white;
    
    
  }
  
  * {
    box-sizing: border-box;
    /*Hiding vertical scroll inf Firefox: */
    scrollbar-width: none;
  }

/* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }