<header>
    <nav>
        <ul>
            <div style="display: flex;" *ngIf="checkLogged; else elseBlock">

                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/">Home</a>
                </li>
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/my_recipes">My recipes</a></li>
                <li  routerLinkActive="active"><a routerLink="/create_recipe">Add Recipe</a></li>
                <li routerLinkActive="active"><button type="button" id="logout" (click)="showLogout()">Logout</button></li>

               
            </div>

            <ng-template #elseBlock> 
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/">Home</a>
                </li>
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
                <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
            </ng-template>
            
       
    
            
        </ul>
    </nav>
    

    <div class="logout-box" id="logout-box">
        <p class="logout-title animate__flash">Are you sure you want to logout ?</p>
        <!-- <p class="animate__backInDown">heyyyyyyyyy</p> -->

        <div class="logout-buttons-container">
            <button class="yes-no-buttons" (click)="logout()" >Yes</button>
            <button class="yes-no-buttons" (click)="cancelLogout()">No</button>
        </div>
       
    </div>
</header>