<app-header></app-header>
<div class="login-box">
    <h2>Login</h2>
    <form #form="ngForm">
        <div class="user-box">
            <input type="email" name="email" required email [(ngModel)]="email" #em="ngModel">
            <label>Email</label>

            <div *ngIf="em.invalid && em.touched">
                <small style="color: red;">Please enter a valid email address!</small>
            </div>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="" minlength="8" [(ngModel)]="password" #pass="ngModel">
            <label>Password</label>
            <div *ngIf="pass.invalid && pass.touched" >
                <small style="color: red; ">Password must be at least 8 characters long!</small>
            </div>
        </div>
        <button (click)="login()" [disabled]="!form.valid">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>
</div>